.project-video {
  width: 30rem;
  height: 30rem;
  border-radius: 25px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin: 0;
}

.projects-content h2 {
  font-size: 8rem;
  width: 480px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.projects-content p {
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  color: var(--text-color);
}

.p1-section,
.p2-section,
.p3-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  width: calc(100% - 4rem);
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  color: var(--text-color);
  border-radius: 25px;
}

.p1-section {
  background-color: var(--custom-orange);
}
.p2-section {
  background-color: var(--custom-blue);
}
.p3-section {
  background-color: var(--custom-red);
}

.video-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 30rem;
  font-size: 20px;
}

.video-text p {
  margin: 0rem 0rem 2rem 0rem;
  hyphens: auto;
}

.video-text a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  margin-top: 2rem;
}

.video-text a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: currentColor;
  transition: all 0.2s ease;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
}

.video-text a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
