footer {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2rem;
  padding: 2rem 0;
  background: var(--custom-green);
  color: var(--text-color);
  border-radius: 25px;
}

footer img {
  width: 7rem;
  height: auto;
  filter: invert(1);
}
