header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0rem;
  transition: all 0.3s ease;
  background: var(--background-color);
}

.header-button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

.header-button::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background: currentColor;
  transition: all 0.2s ease;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
}

.header-button:hover::after {
  transform: translateX(-50%) scaleX(1);
}
