:root {
  --background-color: #e7e7dd;
  --secondary-color: #2a382b;
  --custom-orange: #d7573c;
  --custom-blue: #787ea1;
  --custom-red: #8f4d55;
}

body {
  margin: 0;
  font-family: "Instrument Serif", Arial, Helvetica, sans-serif;
  padding: 0rem 2rem;
  color: black;
  background: var(--background-color);
}

footer {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 7rem 0;
  background: var(--secondary-color);
  color: white;
  border-radius: 25px;
}
